{## _burton/grid.twig
{---------------------------------------------------------------------------##}
{%- extends "_burton/base/partial" -%}


{## --------------------------------------------------------------------------}
{§§ 1.0 ➜ Default Macros ---------------------------------------------------##}

{%- macro grid( content = null ) -%}
    {%- set prefix = "grid" -%}
    {%- set grid = varargs.grid ?? null is string ? varargs.grid : 'none' -%}
    {%- set tmpl = varargs.template ?? _self -%}
    {%- set defs = ( block( "defs", tmpl ) | jsonc_decode ) -%}

    {%- set params = ( defs["#{prefix}_#{grid}"] ?? defs[prefix] ?? {} ) -%}
    {%- set params = params | merge( varargs, true ) -%}

    {%- if content is iterable and params.length ?? null -%}
        {%- set count = content|length|default(0) -%}
        {%- set count = params.minCols ?? 0 > count ? params.minCols : count -%}
        {%- set match = params.length[count] ?? params.length["+"] ?? {} -%}
        {%- set params = params | merge( match, true ) -%}
    {%- endif -%}

    {%- if content[0] ?? null is object and 'craft\\elements\\Entry' == className( content[0] ) -%}
        {%- import "_burton" as b -%}
        {%- set content = content|map(x => b.card(x, ...varargs)) -%}
    {%- endif -%}

    {%- set gridContent -%}
        {%- if content is mapping -%}
            {{ content.html ?? null }}
        {%- elseif content is iterable -%}
            {% for item in content %}
                {{- item.html ??? ( item is iterable ) ? null : item -}}
            {% endfor %}
        {%- else -%}
            {{ content }}
        {%- endif -%}
    {%- endset -%}

    <div x-data="{}">{{ gridContent | retconOnly( "template[data-modal]" ) }}</div>
    {{- include( tmpl, { content: gridContent | retconRemove("template"), ...params }, withContext = false ) -}}
{%- endmacro -%}


{## --------------------------------------------------------------------------}
{§§ 2.0 ➜ Default Config ---------------------------------------------------##}

{%- block defs -%}
{
    "grid": {
        "tag": "div",
        "attr": {
            "class": ["w-full grid grid-cols-1 grid-gap"]
        },
        "length": {
            "1":  { "attr": { "class": [""] } },
            "2":  { "attr": { "class": ["@sm:grid-cols-2"] } },
            "3":  { "attr": { "class": ["@3xl:grid-cols-3"] } },
            "4":  { "attr": { "class": ["@sm:grid-cols-2 @4xl:grid-cols-4"] } },
            "5":  { "attr": { "class": ["@sm:grid-cols-2 @3xl:grid-cols-3"] } },
            "6":  { "attr": { "class": ["@sm:grid-cols-2 @3xl:grid-cols-3"] } },
            "7":  { "attr": { "class": ["@sm:grid-cols-2 @4xl:grid-cols-4"] } },
            "8":  { "attr": { "class": ["@xs:grid-cols-2 @md:grid-cols-3 @2xl:grid-cols-4"] } },
            "9":  { "attr": { "class": ["@sm:grid-cols-2 @3xl:grid-cols-3 @6xl:grid-cols-5"] } },
            "10": { "attr": { "class": ["@xs:grid-cols-2 @md:grid-cols-3 @2xl:grid-cols-4 @6xl:grid-cols-5"] } },
            "+":  { "attr": { "class": ["@sm:grid-cols-2 @3xl:grid-cols-3 @4xl:grid-cols-4 @6xl:grid-cols-6"] } }
        }
    },

    "grid_flex1": {
        "tag": "div",
        "attr": {
            "class": ["w-full grid grid-cols-1 grid-gap"]
        }
    },

    "grid_flex2": {
        "tag": "div",
        "attr": {
            "class": ["w-full grid grid-cols-1 grid-gap @sm:grid-cols-2 items-end"]
        }
    },

    "grid_flex3": {
        "tag": "div",
        "attr": {
            "class": ["w-full grid grid-cols-1 grid-gap @3xl:grid-cols-3"]
        }
    },

    "grid_flex4": {
        "tag": "div",
        "attr": {
            "class": ["w-full grid grid-cols-1 grid-gap @sm:grid-cols-2 @4xl:grid-cols-4"]
        }
    },

    "grid_flex6": {
        "tag": "div",
        "attr": {
            "class": ["w-full grid grid-cols-1 grid-gap @sm:grid-cols-2 @3xl:grid-cols-3"]
        }
    },

    "grid_fixed2": {
        "tag": "div",
        "attr": {
            "class": ["w-full grid grid-cols-2 grid-gap"]
        }
    },

    "grid_fixed3": {
        "tag": "div",
        "attr": {
            "class": ["w-full grid grid-cols-3 grid-gap"]
        }
    }
}
{%- endblock -%}
